@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BareunDotum';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunDotum/BareunDotumOTFPro2.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunDotum/BareunDotumOTFPro2.woff') format('woff');
  }
@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#app {
    font-family:"BareunDotum";
    font-size:300%;
    min-height:100vh;
}
#test {
    text-decoration: none;
}

button :hover{
    color:#F0E442
}
.setting-page {
    text-align:center;
    padding: 3%;
}

#article_name:hover{
    color:#F0E442
}
#font {
    width: 50%;
    padding: 1%;
    font-weight: bold;
    font-size: 100%;
    margin-left: 25%;
    margin-bottom: 5%;
    border-radius: 20px;
    text-align: center;
}
#font-size {
    width: 50%;
    padding: 1%;
    font-weight: bold;
    font-size: 100%;
    margin-left: 25%;
    margin-bottom: 5%;
    border-radius: 20px;
    text-align: center;
}
#minus {
    background:white;
    color: black;
    margin-right: 2%;
    /* /width: 5%; */
}
#dark {
    width: 50%;
    padding: 1%;
    font-weight: bold;
    font-size: 100%;
    margin-left: 25%;
    margin-bottom: 5%;
    border-radius: 20px;
    text-align: center;
}
#ok-button {
    font-size: 100%;
    margin: 10% 0% 10% 85%;
    font-weight: bold;
    border-radius: 10px;
    padding: 1%;
}
#ok-button:hover {
    color: #F0E442;
}
#mainView{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}

#full-btn {
    margin: 5 auto;
    font-size:120%;
}
#pause {
    margin: 5 auto;
    font-size:120%;
}
#cancel {
    margin: 5 auto;
    font-size:120%;}

